

.root {
     -fx-background-image: url("gray.jpg");
}

.text-area {
	-fx-background-color:#eefaff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-border-color:#6699FF;
    -fx-border-width:3px;
}
.pane2 {
    -fx-border-color:#6699FF;
    -fx-border-width:3px;
}
.pane2:hover {
    -fx-opacity:1.0;
}
.text2:hover{
	-fx-opacity:1.0;
}
.pane1 {
   	-fx-background-image: url("iu.jpg");
   	
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#6699FF, #a3a1a1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}
.button:hover{
	-fx-background-color: linear-gradient(#a3a1a1, #a3a1a1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}
.buttonclose:hover
{ 
	-fx-background-color:red;
}

